* {
    border: none;
    border-radius: 0;
    font-family: "Iosevka Custom";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: #282828;
    color: #ffffff;
}

#window {
    font-weight: bold;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #ffffff;
}

#workspaces button.focused {
    color: #b8bb26;
}

#mode {
    background: #c86b85;
    font-weight: bold;
    padding: 0 25px;
}

#custom-screen-recorder,
#custom-disk,
#custom-mako,
#backlight,
#pulseaudio,
#cpu,
#memory,
#temperature,
#battery,
#clock,
#tray {
    padding: 0 2px;
    margin: 0 2px;
}

#battery.discharging.critical {
    color: #fb4934;
    animation: battery-blink 0.5s infinite alternate;
}

@keyframes battery-blink {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}
